/* stripping style */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, 
li {
    list-style: none;
}


button, fieldset, input, textarea {
    border: none;
}

button, input {
    outline: none;
}

button {
    line-height: 0;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

/* root size */

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
    }

.skip-link:focus {
    left: 0;
}

@mixin forPhone {
  @media (max-width: 599px) { @content; }
}

@mixin forTablet {
  @media (max-width: 900px) { @content; }
}

@mixin forSmallDesktop {
  @media (max-width: 1200px) { @content; }
}

@mixin forDesktop {
  @media (max-width: 1600px) { @content; }
}

@mixin forBigDesktop {
  @media (max-width: 1601px) { @content; }
}
